h2 {
  color: $white;
}

.about-section {
  padding: 6rem 0;
  background: url(./resources/assets/images/kevin-on-the-track.jpg);
  background-size: cover;
  background-position: center center;
  margin: 0 0 4rem;
}
