.content {
  .hero-section {
    h1 {
      font-size: 7rem;
      margin: 2rem 0 0;
    }

    h2 {
      margin: 0 0 2rem;
      font-weight: lighter;
    }
    h3 {
      margin: 0 0 .5rem;
      font-size: 6rem;
      font-weight: lighter;
      line-height: 0.85;
    }
    .stat-header {
      margin: 2.5rem 0 0;
      font-weight: bold;
      letter-spacing: .4rem;
      text-transform: uppercase;
    }
  }
}
