.content {
  .hero-section {
    min-height: calc( 100vh + 14px );
    //min-height: 720px;
    word-break: break-word;
    padding-top: 0;
    padding-bottom: 0;
    // padding: 0 0 4rem 0;
    @media (min-width: $desktop) {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: $tablet) {
      height: auto;
    }

    h1.hero-title {
      font-size: 7.5rem;
      line-height: 1;
      margin: 2rem 0 0;
      color: $white;
      white-space: nowrap;
      background: linear-gradient(68deg, lighten($highlight, 20%), $highlight, lighten($highlight, 20%));
      background-size: 200% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $sans;
      //font-family: $display;
      font-weight: 800;
      margin-left: -.4rem;

      // Color change animation
      animation: col-change 20s ease infinite;

      @media (max-width: $widescreen) {
        font-size: 6rem;
        white-space: normal;
      }

      @media (max-width: $tablet) {
        font-size: 4rem;
        white-space: normal;
      }
    }

    p.hero-subtitle {
      font-size: 2rem;
      margin: 0 0 2rem;
      font-weight: 100;
      color: $white;

    }
    h3.stat-highlight {
      margin: 0 0 .5rem;
      font-size: 7rem;
      font-family: $sans-wide, $sans;
      letter-spacing: -.5rem;
      font-weight: 100;
      line-height: 0.85;
      color: $white;

      @media (max-width: $tablet) {
        font-size: 5rem;
      }

      span {
        font-family: $sans-wide, $sans;
      }

      .stat-secondary {
        color: $medium-gray;
        font-size: 5rem;
        letter-spacing: -.2rem;
        font-family: $sans;

        @media (max-width: $tablet) {
          font-size: 2.5rem;
        }
      }

    }
    .stat-header {
      margin: 4vh 0 1vh;
      font-weight: bold;
      letter-spacing: .4rem;
      text-transform: uppercase;
      color: $highlight;
    }


    // MAP SVG SECTION
    .progress-line-container, .progress-line-container svg {
      height: 100vh;
      min-height: 100%;
      overflow: visible;


      @media (max-width: $tablet) {
        overflow-x: hidden;
      }

      @media (max-width: $mobile) {
        min-height: 100vh;
        padding: 0;
        margin: 0 auto;
        margin-right: -5.5rem;
        left: -4rem;
        position: relative;
        text-align: center;
        overflow: hidden;
      }

    }

    .map-bg{fill:#222222;}
	.route-path{fill:none;stroke:#444444;stroke-width:8;stroke-linejoin:round;stroke-miterlimit:10;}



    .route-line {
      fill:none;
      stroke:#5b5b5b;
      stroke-width:8;
      stroke-linejoin:round;
      stroke-miterlimit:10;
      stroke-linecap:round;
      position: absolute;

    }

    .map-background {
      fill: #333333;
      position: absolute;

    }

    .map-backgroung-wrapper {
      left: 30px;
    }

    .hero-section-stats {
      padding-bottom: 2rem;
    }

  }
}


@keyframes col-change {
    0%{background-position:200% 50%}
    100%{background-position:0% 50%}

}
