//h1.entry-title {
//  color: #888;
//}
.home-posts--workout-link {
  color: $pearl;

  margin: 0 1rem 1rem
}
.home-posts--workout, .workouts--workout {

    border: 1px solid $medium-gray;
    border-radius: 2px;
    background: darken($medium-gray, 20%);
    padding: 1rem;

    &:hover {
      background: darken($medium-gray, 10%);

      p {
        color: lighten($pearl, 10%);
      }

      h2.entry-title {
        color: $light-gray;
      }
    }

    h2.entry-title {
      margin-top: 0rem;
      color: $light-gray;
      font-weight: 300;
      font-size: 1.5rem;
      margin:0 0 .75rem;
    }



    time {
      letter-spacing: .125rem;
      text-transform: uppercase;
      color: $pearl;
      font-size: 0.75rem;
    }
}

.workouts {
  display: flex;
  .workouts--workout {

    flex: 1;

    h2.entry-title {
      font-weight: 400;
      color: $highlight;
    }

    .workouts--content p {
      font-size: 1rem;
      font-weight: 300;
      margin-bottom: 0;
      color: $light-gray;
    }

    .post-meta {
      margin-top: 0;
    }

    img {
      width: 60px;
    }
  }
}

.content h1.workout-title {
  color: $medium-gray;
  font-size: 5rem;
  margin: 1rem 0;


}
