/** Colors */
/*$primary:               #525ddc;*/
$link:                  #c8b6f1;
$highlight:             #f7d13b;
$white:                 #ffffff;
$dark-gray:             #222222;
$medium-gray:           #595758;
$light-gray:            #b3b5b3;
$pearl:                 #E6E1C5;

/** Box Model  */
$spacer:                2rem;

/** Font Stacks */
@import url("https://use.typekit.net/qza1xbb.css");

$display:               flood-std;
$sans:                  pragmatica, 'Helvetica Neue', sans-serif;
$sans-wide:             pragmatica-extended;
